<div class="panel panel-default">
	<div class="panel-heading">
		<h1>New pin</h1>
	</div>

<!-- 
	render 'form' is a partial - the 'form' is stored somewhere else and rendered into this page so it can be changed once and used together for the new and edit page
-->

	<%= render 'form' %>

<br />

	<div class="panel-footer">
		<%= link_to 'Back', pins_path %>
	</div>


</div>