<div class="jumbotron" "align-centre">
	<h1 class="text-center">Welcome to Pinteresting</h1>
	<br/>
	<br/>
	<br/>
	<p class="text-center">Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
</div>
